<div class="container">
  <br>
  <br>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/Unexpecting screenshot.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          UnExpecting is Now Online!
        </h4>
        <p class="text-muted">
          <small>12/1/17</small>
        </p>
        <p>My latest short film, UnExpecting, is now available to watch online for free! I star as Carrie, in this story about a young couple torn apart by an unexpected pregnancy. Watch it on my <a href="#/videos">Videos</a> page or on <a href="https://vimeo.com/245216518">Vimeo!</a>
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/Unexpecting.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          New Poster for UnExpecting
        </h4>
        <p class="text-muted">
          <small>10/12/17</small>
        </p>
        <p>Check out the new official poster for UNEXPECTNG! I star as Carrie, a young wife navigating the challenges of an unexpected pregnancy and an emotionally absent husband. To be released this fall! Stay tuned!
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/InvestigationDiscovery.png">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          Starring in a Discovery ID episode of BRIDE KILLA
        </h4>
        <p class="text-muted">
          <small>5/20/17</small>
        </p>
        <p>I just wrapped filming a new show for Discovery ID! I'll be starring in an episode of BRIDE KILLA (working title) that tells the true crime story of Amber Smith, a Michigan woman who police say shot her fiancée in bed as he slept. The episode will air in February 2018.
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/logo.jpeg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          Currently Filming
        </h4>
        <p class="text-muted">
          <small>4/1/17</small>
        </p>
        <p>I'm currently filming and starring in the dramatic short UNEXPECTING, being produced by StudioTEN Productions here in MD. The film revolves around a low-income married couple who are knocked off their feet by an unexpected pregnancy. It's a story about "the average joe and jane", so to speak, and about how financial stress and responsibility can drive a wedge between two people and *could* even lead them to abandon each other.
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/Wake_1.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          By the Wake
        </h4>
        <p class="text-muted">
          <small>9/23/16</small>
        </p>
        <p>Check out the latest dark comey short from Twelvesteed Productions, <a href="https://vimeo.com/178385241/">By the Wake</a>. I was very excited to be a part of this hilarious project. It won "Best Writing" at the 29 Days Later film festival here in Baltimore, and was a Semi-Finalist at Los Angeles CineFest (2016). A big thanks to writer, actor, and producer extraordinaire Joe Cardamone for casting me in this one :)
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/Green Sweater.png">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          The Green Sweater
        </h4>
        <p class="text-muted">
          <small>8/12/16</small>
        </p>
        <p>I'm starring in a staged reading this weekend for a wonderfully moving play, <i>The Green Sweater</i>. Readings are Sat, August 13 @ 8pm and Sun, August 14 @ 2pm at United Evangelical Church (home of Cohesion Theatre Company) 3900 Dillon St., Baltimore, MD 21224.
          <p>About <i>The Green Sweater</i>: Parker is a young woman in her mid-twenties who is struggling to get her life together. Her deep and sometimes crippling depression has caused her to fall into a pattern of loneliness and lack of motivation. Though surrounded by close friends, she often feels alone. Currently working as a waitress, she doesn’t seem to have any career goals. And having recently been rejected by her friend, Blake, she has no romantic aspirations either. The Green Sweater follows Parker as she navigates her friendships, a new relationship, and her depression through life, love, and tragedy. Co-Directed by Hannah Fogler and Alexander Scally.</p>
          <p>And it's free! Come join us!</p>

        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="http://www.writinglives.org/wp-content/uploads/2013/01/Writing-writing-31275199-1500-1004-1024x685.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          New Writing Projects Page
        </h4>
        <p class="text-muted">
          <small>4/21/15</small>
        </p>
        <p>Check out my brand new <a href="#/writing-projects">Writing Projects</a> page for samples of my work :)
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="http://p1cdn01.thewrap.com/images/2014/05/James-Franco-618x400.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          Audition for <i>Michael</i>
        </h4>
        <p class="text-muted">
          <small>7/23/14</small>
        </p>
        <p>I was called in by Cynthia Huffman casting to audition for a small role in James Franco's new film, <i>Michael</i>. The film will tell the fascinating story of former gay activist Michael Glazte. Read the NY Times article that inspired the film
          here: <a target="_blank" href="http://www.nytimes.com/2011/06/19/magazine/my-ex-gay-friend.html">My Ex-Gay Friend</a>.
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="https://farm4.staticflickr.com/3688/14312073824_d51df65c5c_m.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          <em>All My Sons</em> Extended!
        </h4>
        <p class="text-muted">
          <small>5/23/14</small>
        </p>
        <p>Thanks to a wonderful audience reception and in honor of Memorial Day, <i>All My Sons</i> has been extended for TWO more shows! Come join us on Sunday, May 25th and Monday, May 26th at 7PM. Tickets at door or via <a href="http://www.brownpapertickets.com/event/637919">www.brownpapertickets.com.</a>          Soak up Arthur Miller's thoughts on post-WWII, the American Dream, and what it means to fight for your country and your family. AEA Showcase. All performaces at The Morningside Players, 100 La Salle Street in Morningside Heights (1 or A,B,C,D
          to 125th). More details at <a href="http://www.morningsideplayers.org/">The Morningside Players.</a>
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/ams.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">
          <em>All My Sons</em>
        </h4>
        <p class="text-muted">
          <small>4/25/14</small>
        </p>
        <p>I'll be playing Ann Deever in <i>All My Sons</i> at <a href="http://www.morningsideplayers.org/">The Morningside Players</a> May 8 - 17th. I'm delighted to be part of this wonderful production! Dates and showtimes: Thursday, Friday, Saturday at
          7:30pm. Saturday, May 10 and 17 at 2pm. Sunday, May 11th at 3pm. Tickets at door or via <a href="http://www.brownpapertickets.com/event/637919">www.brownpapertickets.com.</a> Suggested $15, seniors and students $12. AEA Showcase. All performaces
          at The Morningside Players, 100 La Salle Street in Morningside Heights (1 or A,B,C,D to 125th)</p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a>
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/blacklist.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">Audition for <i>The Blacklist</i>
        </h4>
        <p class="text-muted">
          <small>2/4/14</small>
        </p>
        <p>I just had an audition for an U/5 on <i>The Blacklist</i>! Always grateful to be called in by Chrystie Street Casting.</p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a class="fancybox-media" href="http://vimeo.com/87091260">
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/new_reel.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">New REEL!</h4>
        <p class="text-muted">
          <small>1/19/14</small>
        </p>
        <p>Check out my new <a href="#/videos">Dramatic Reel</a>, posted on my <a href="#/videos">VIDEOS page</a>. A compilation of upcoming and / or notable projects. New year, new reel... :)</p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
        <a class="fancybox-media" href="//www.youtube.com/embed/qf9M-WJPzgk">
          <img class="media-object img-thumbnail" src="/assets/img/photos/news/media/spaceship.jpg">
        </a>
      </div>
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <h4 class="media-heading">THE SPACESHIP TEASER!</h4>
        <p class="text-muted">
          <small>12/23/13</small>
        </p>
        <p>The first official teaser for THE SPACESHIP is now live! Check it out. Also posted on my <a href="#/videos">VIDEOS page</a>. Lots of post-production still ahead, but getting excited! Hopefully more to come soon! More at <a href="http://www.thespaceshipmovie.org/">www.TheSpaceshipMovie.com.</a>
        </p>
      </div>
    </div>
  </div>
</div>
