<div class="container reviews-container">
    <div class="row">
        <h2>Reviews for CAROLINE OF VIRGINIA</h2>
        <div class="container">
            <div class="row">
                <div class="reviews-header">
                    <h3><a href="http://www.theindependentcritic.com/caroline_of_virginia" target="_blank">The Independent Critic</a></h3>- Richard Propes -
                </div>
                <div class="reviews-body">
                    <p>“Of course, it all begins with Caroline. To be a convincing fairy tale, a film simply must convince in both the the real world and the world that transcends the human experience. Lauren Meley gives a beautiful performance as a young woman who seemingly manages to find the beauty in her everyday life despite her own physical challenges. Meley's performance as a deaf young woman, at least to this non-hearing impaired film writer, was so convincing that I found myself looking her up to see if she really was deaf (She's not). Watch Meley's eyes and body language as her miracle unfolds and she begins to experience life in a different way - it's as if we're watching an already beautiful flower blossom and reach up to the skies.”</p>
                </div>
            </div>
            <div class="row">
                <div class="reviews-header">
                    <h3><a href="http://www.roguecinema.com/article2902.html" target="_blank">Rogue Cinema</a></h3>- Jason S. Lockard -
                </div>
                <div class="reviews-body">
                    <p>“The camera work was good, there were a few places where I felt the film dragged a bit, but Lauren's performance as the deaf woman is worth seeing, if for no other reason. So if your a fan of fairy tale like movies or if you just have around 40 minutes to kill this is not a bad way to spend your time!”</p>
                </div>
            </div>
            <div class="row">
                <div class="reviews-header">
                    <h3><a href="http://www.timessquare.com/Stage/Theater_Reviews/The_Harmony_of_New_York_–_A_Review_of_Caroline_of_Virginia_/" target="_blank">Times Square</a>
                    </h3>- Shalini Adnani -
                </div>
                <div class="reviews-body">
                    <p>“Norcross artistically explores the sounds of New York we take for granted, from the constant honks and accelerators from the streets, to balloons popping and of course the enthralling music that surrounds us. Lauren Meley's ability to play both deaf and dumb was truthful as well as her amusement with all the newfound sound waves she encounters. Through Virginia's untenable ears these three romantic days of an ill-fated love story left a poignant dent in my mind and most of all caught me by surprise—what initially felt superficial and cliché turned into a 37 minute film that, with Norcross' zeal, was both picturesque and most of all mellifluous.”</p>
                </div>
            </div>
        </div>
    </div>
</div>
