<div class="container-fluid">
    <div class="row-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption">
                        <a>
                            <img src="/src/assets/img/photos/lauren_meley_headshot.jpg" alt="First slide">
                        </a>
                        <div>
                            <h1>Lauren Meley</h1>
                            <p><i>actor. writer. dancer</i>
                            </p>
                            <p><a class="btn btn-lg btn-primary" href="#/news" role="button">Latest News</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!--item -->
                <div class="item">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="centering text-center vimeo widescreen">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/qf9M-WJPzgk" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item -->
            </div>
        </div>
        <!--carousel -->
    </div>
</div>
