<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="carousel-caption">
                <a>
                    <img src="/src/assets/img/photos/lauren_meley_headshot.jpg" alt="First slide">
                </a>
                <div>
                    <h1>Lauren Meley</h1>
                    <p><i>actor. writer. dancer<i></p>
                    <p><a class="btn btn-lg btn-primary" href="#/news" role="button">Latest News</a>
                    </p>
                </div>
            </div>
        </div><!--item -->
    </div><!--carousel -->
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
