<div class="container">
    <h1>News</h1>
    <div class="media">
        <a class="pull-left fancybox-media" href="http://vimeo.com/87091260">
            <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/new_reel.jpg">
        </a>
        <div class="media-body ">
            <h4 class="media-heading">New REEL!</h4>
            <p class="text-muted">
                <small>1/19/14</small>
            </p>
            <p>Check out my new <a href="#/videos">Dramatic Reel</a>, posted on my <a href="#/videos">VIDEOS page</a>. A compilation of upcoming and / or notable projects. New year, new reel... :)</p>
        </div>
    </div>
</div>
