<div class="container">
    <h1>News</h1>
    <br>
    <div class="media">
        <a class="pull-left fancybox-media" href="http://vimeo.com/87091260">
            <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/new_reel.jpg">
        </a>
        <div class="media-body ">
            <h4 class="media-heading">
                <em>All My Sons</em>
            </h4>
            <p class="text-muted">
                <small>4/6/14</small>
            </p>
            <p>The quick brown fox jumps over the lazy dog</p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left fancybox-media" href="http://vimeo.com/87091260">
            <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/new_reel.jpg">
        </a>
        <div class="media-body ">
            <h4 class="media-heading">New REEL!</h4>
            <p class="text-muted">
                <small>1/19/14</small>
            </p>
            <p>Check out my new <a href="#/videos">Dramatic Reel</a>, posted on my <a href="#/videos">VIDEOS page</a>. A compilation of upcoming and / or notable projects. New year, new reel... :)</p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left fancybox-media" href="//www.youtube.com/embed/qf9M-WJPzgk">
            <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/spaceship.jpg">
        </a>
        <div class="media-body ">
            <h4 class="media-heading">THE SPACESHIP TEASER!</h4>
            <p class="text-muted">
                <small>7/23/13**</small>
            </p>
            <p>The first official teaser for THE SPACESHIP is now live! Check it out.Also posted on my REEL Page. Lots of post-production still ahead, but getting excited! More to come soon!</p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left fancybox-media" href="http://vimeo.com/87091260">
            <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/new_reel.jpg">
        </a>
        <div class="media-body ">
            <h4 class="media-heading">New Website</h4>
            <p class="text-muted">
                <small>1/19/14</small>
            </p>
            <p>The quick brown fox jumps over the lazy dog</p>
        </div>
    </div>
</div>
