<div class="container">
    <br>
    <br>
    <div class="container">
        <div class="row v-center">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a>
                    <img class="media-object img-thumbnail" src="http://p1cdn01.thewrap.com/images/2014/05/James-Franco-618x400.jpg">
                </a>
            </div>
            <div class="col-xs-8 col-sm-9 col-lg-10">
                <h4 class="media-heading">
                    Audition for <i>Michael</i>                    
                </h4>
                <p class="text-muted">
                    <small>7/23/14</small>
                </p>
                <p>I was called in by Cynthia Huffman casting to audition for a small role in James Franco's new film, <i>Michael</i>. The film will tell the fascinating story of former gay activist Michael Glazte. Read the NY Times article that inspired the film here: <a target"_blank" href="http://www.nytimes.com/2011/06/19/magazine/my-ex-gay-friend.html">My Ex-Gay Friend</a>. 
                </p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row v-center">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a>
                    <img class="media-object img-thumbnail" src="https://farm4.staticflickr.com/3688/14312073824_d51df65c5c_m.jpg">
                </a>
            </div>
            <div class="col-xs-8 col-sm-9 col-lg-10">
                <h4 class="media-heading">
                    <em>All My Sons</em> Extended!                    
                </h4>
                <p class="text-muted">
                    <small>5/23/14</small>
                </p>
                <p>Thanks to a wonderful audience reception and in honor of Memorial Day, <i>All My Sons</i> has been extended for TWO more shows! Come join us on Sunday, May 25th and Monday, May 26th at 7PM. Tickets at door or via <a href="http://www.brownpapertickets.com/event/637919">www.brownpapertickets.com.</a> Soak up Arthur Miller's thoughts on post-WWII, the American Dream, and what it means to fight for your country and your family. AEA Showcase. All performaces at The Morningside Players, 100 La Salle Street in Morningside Heights (1 or A,B,C,D to 125th). More details at <a href="http://www.morningsideplayers.org/">The Morningside Players.</a> 
                </p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row v-center">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a>
                    <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/ams.jpg">
                </a>
            </div>
            <div class="col-xs-8 col-sm-9 col-lg-10">
                <h4 class="media-heading">
                    <em>All My Sons</em>
                </h4>
                <p class="text-muted">
                    <small>4/25/14</small>
                </p>
                <p>I'll be playing Ann Deever in <i>All My Sons</i> at <a href="http://www.morningsideplayers.org/">The Morningside Players</a> May 8 - 17th. I'm delighted to be part of this wonderful production! Dates and showtimes: Thursday, Friday, Saturday at 7:30pm. Saturday, May 10 and 17 at 2pm. Sunday, May 11th at 3pm. Tickets at door or via <a href="http://www.brownpapertickets.com/event/637919">www.brownpapertickets.com.</a> Suggested $15, seniors and students $12. AEA Showcase. All performaces at The Morningside Players, 100 La Salle Street in Morningside Heights (1 or A,B,C,D to 125th)</p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row v-center">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a>
                    <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/blacklist.jpg">
                </a>
            </div>
            <div class="col-xs-8 col-sm-9 col-lg-10">
                <h4 class="media-heading">Audition for <i>The Blacklist</i>
                </h4>
                <p class="text-muted">
                    <small>2/4/14</small>
                </p>
                <p>I just had an audition for an U/5 on <i>The Blacklist</i>! Always grateful to be called in by Chrystie Street Casting.</p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row v-center">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a class="fancybox-media" href="http://vimeo.com/87091260">
                    <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/new_reel.jpg">
                </a>
            </div>
            <div class="col-xs-8 col-sm-9 col-lg-10">
                <h4 class="media-heading">New REEL!</h4>
                <p class="text-muted">
                    <small>1/19/14</small>
                </p>
                <p>Check out my new <a href="#/videos">Dramatic Reel</a>, posted on my <a href="#/videos">VIDEOS page</a>. A compilation of upcoming and / or notable projects. New year, new reel... :)</p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row v-center">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a class="fancybox-media" href="//www.youtube.com/embed/qf9M-WJPzgk">
                    <img class="media-object img-thumbnail" src="/src/assets/img/photos/news/media/spaceship.jpg">
                </a>
            </div>
            <div class="col-xs-8 col-sm-9 col-lg-10">
                <h4 class="media-heading">THE SPACESHIP TEASER!</h4>
                <p class="text-muted">
                    <small>12/23/13</small>
                </p>
                <p>The first official teaser for THE SPACESHIP is now live! Check it out. Also posted on my <a href="#/videos">VIDEOS page</a>. Lots of post-production still ahead, but getting excited! Hopefully more to come soon! More at <a href="http://www.thespaceshipmovie.org/">www.TheSpaceshipMovie.com.</a> 
                </p>
            </div>
        </div>
    </div>
</div>
