<div class="container reviews-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="reviews-header">
          <h3>Feature Screenplays</h3>
        </div>
        <div class="reviews-body">
          <div>
            <h4>TWEENS
              <small>(Comedy / Horror)</small> <a class="fancybox-pdf" data-fancybox-type="iframe" href="src/assets/TWEENS-Web-Version.pdf"><i class="fa fa-download icon-white"></i></a></h4>
            <p>
              When four 30-something friends try to have a nostalgic amusement park trip, their day and their lives are destroyed by Instagram-obsessed tweens.
            </p>
          </div>
          <br>
          <div>
            <h4>TWEENS Synopsis / Pitch
              <a class="fancybox-pdf" data-fancybox-type="iframe" href="src/assets/Tweens-Pitch.pdf"><i class="fa fa-download icon-white"></i></a></h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="reviews-header">
          <h3>Short Screenplays</h3>
        </div>
        <div class="reviews-body">
          <div>
            <h4>BEAR NECESSITY
              <small>(Romantic Comedy)</small> <a class="fancybox-pdf" data-fancybox-type="iframe" href="src/assets/Bear-Necessity-Web-Version.pdf"><i class="fa fa-download icon-white"></i></a></h4>
            <p>
              When a big, blue, carnival-sized stuffed bear mysteriously shows up at Steve's apartment, he thinks it ruins his chances with his cute next-door-neighbor... but it just might be the key to her heart.
            </p>
          </div>
          <br>
          <div>
            <h4>PARANOIA
              <small>(Thriller)</small> <a class="fancybox-pdf" data-fancybox-type="iframe" href="/src/assets/Paranoia-Web-Version.pdf"><i class="fa fa-download icon-white"></i></a></h4>
            <p>
              On Alison's last night before a trip across the world, she feels like someone has been watching her. Her friends think she's paranoid... but is she?
            </p>
          </div>
          <br>
          <div>
            <h4>THE 6
              <small>(Thriller / Series Opener)</small> <a class="fancybox-pdf" data-fancybox-type="iframe" href="/src/assets/THE-6-Web-Version.pdf"><i class="fa fa-download icon-white"></i></a></h4>
            <p>
              A young woman boards the 6 train, but realizes her destination - and that of the other 5 passengers - won't be as planned.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="reviews-header">
          <h3>Stage Plays</h3>
        </div>
        <div class="reviews-body">
          <h4>21 DAYS
            <small>(Drama)</small> <a class="fancybox-pdf" data-fancybox-type="iframe" href="src/assets/21-Days-Web-Version.pdf"><i class="fa fa-download icon-white"></i></a></h4>
          <p>
            A doctor returns to a lost love after 21 days in Ebola quarantine, only to find she's been fighting her own battle of self-isolation.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="reviews-header">
          <h3>Short Stories</h3>
        </div>
        <div class="reviews-body">
          <p>COMING SOON...</p>
        </div>
      </div>
    </div>
  </div>
</div>