/* GLOBAL STYLES
-------------------------------------------------- */
/*
 * Base structure
 */

/* Override all fonts */
*{font-family: 'Roboto', sans-serif;}

html,
body {
  height: 100%;
  background-color: #333;
}

/* Navbar
-------------------------------------------------- */
.navbar{
  margin-bottom:0px; /* Remove the extra margin in the default navbar */
}

.navbar {
  margin-bottom:0px;
  background-color: #222222;
  border: 0px;
  background: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #545353), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #545353,#222222);
  background: -moz-linear-gradient(top, #545353,#222222);
  background: -o-linear-gradient(top, #545353,#222222);
  background: -ms-linear-gradient(top, #545353,#222222);
  background: linear-gradient(top, #545353,#222222);
}

.navbar-default .navbar-brand {
  color: #fff;
  text-shadow: none;
  padding-left: 60px;
  height: 28px;
}

.navbar-default .nav-pills li a {
  padding: 3px 10px 3px 10px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #EB6A95;
  background-color: transparent;
}

.navbar-default .navbar-inner .nav li a {
  color: #fff;
  text-shadow: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background 0.1s linear,opacity 0.1s linear;
  -moz-transition: background 0.1s linear,opacity 0.1s linear;
  -ms-transition: background 0.1s linear,opacity 0.1s linear;
  -o-transition: background 0.1s linear,opacity 0.1s linear;
  transition: background 0.1s linear,opacity 0.1s linear;
  -webkit-font-smoothing: antialiased;      
  opacity: .9;
  font-weight: 600;
}

.navbar-default .navbar-inner .nav li a:hover {
  background: #EB6A95;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  opacity: 1;
}

.navbar-xs .navbar-default .navbar { min-height:28px; } 
.navbar-xs .navbar-default .navbar .navbar-brand{ padding: 8px 8px 8px 30px;font-size: 16px;line-height: 18px; } 
.navbar-xs .navbar-default .navbar .navbar-nav > li > a {  padding-top: 7px; padding-bottom: 7px; line-height: 20px; } 

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Section Styles
---------------------------------------------------*/

/* Header Wrap */
#headerwrap {
  background: url(../assets/img/photos/bio/media/bio_header.jpg) no-repeat center top;
  padding-top:140px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  font-size: 70px;
  color: white;
}

#headerwrap h3 {
  font-size: 20px;
  color: white;
}

/* Intro Wrap */

#intro {
  background: #354C5D;
  padding-top: 30px;
  padding-bottom: 60px;
  color: white;
}

#intro h5, p {
  color: white;
}

/* Resume Wrap */

.resume-wrap {
  padding-top: 50px;
}

.resume-wrap p {
  color: white;
}

.resume-wrap t {
  color: #c1e2ff;
  font-weight: 700;
}

/* Footer Wrap */

#footwrap {
  background: #354C5D;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footwrap p {
  color: white;
}

#footwrap h5 {
  color: white;
}

#footwrap t {
  color: #c1e2ff;
  font-weight: 700;
}

/* Photo Wrap */

#photo {
  padding-top: 100px;
  padding-bottom: 60px;
}

/* Video Wrap */

#video {
  padding-top: 100px;
  padding-bottom: 60px;
}

/* Icon Style */

.icon-white {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

/* Hyperlink Style */

.intro, .resume-wrap, a sm {
  color: white;
}

.intro, .resume-wrap, a:hover{
  text-decoration:none;
}

/* News Style */

.media .media-body em,h4,i {
  color: white;
}

.img-thumbnail {  
  display: inline-block;  
  height: auto;  
  max-width: 100%;  
  padding: 1px;  
  line-height: 1.428571429;  
  background-color: #ffffff;  
  border: 1px solid #dddddd;  
  border-radius: 4px;  
  -webkit-transition: all 0.2s ease-in-out;  
          transition: all 0.2s ease-in-out;  
}

/* Reviews Style */

.reviews-container {color:white;}
.reviews-header {}
.reviews-header h3, .reviews-header a {color:#c1e2ff;}
.reviews-body {padding: 10px;}

/* CUSTOMIZE ALIGNMENTS
-------------------------------------------------- */
.v-center {display:table!important; height:125px;}

.v-center div[class*='col-'] {
  display: table-cell!important;
    vertical-align:middle;
    float:none;
}

.v-center img{
  width: 140px;
  height: 88px;
}

.container-fixed {
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 25%;
    padding-left: 25%;
}

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.centering {
    float: none;
    margin: 0 auto;
}